.statistics {
  width: 400px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;

  background-color: #c5fb73;
}
.title {
  font-size: 20px;
  font-weight: 700;

  color: #506630;

  line-height: 4;
  text-align: center;
  text-transform: uppercase;
}
.stat-list {
  display: flex;
}
.item {
  width: 80px;
  height: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fcfcfc;
}
.label {
  font-size: 14px;
  font-weight: 500;
}
.percentage {
  font-size: 20px;
  font-weight: 700;
}
